outputs/versions/dify/v1.json
{
  "name": "Dify LLM Application Development Platform",
  "nodes": [
    {
      "parameters": {},
      "id": "0da7e88d-b5b2-4b8a-9c1e-8f5a3c2d1b4a",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [50, 50]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_API_URL }}/workflows",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "={{ $json.workflow_name }}"
            },
            {
              "name": "workflow_definition",
              "value": "={{ $json.workflow_definition }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1eb8f99d-c6c3-4c9b-ad2e-9g6b4d3e2c5b",
      "name": "Create Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 50]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.DIFY_API_URL }}/workflows/{{ $json.workflow_id }}",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2fc9g00e-d7d4-5d0c-be3f-0h7c5e4f3d6c",
      "name": "Get Workflow Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 50]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_API_URL }}/workflows/{{ $json.workflow_id }}/test",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "test_input",
              "value": "={{ $json.test_input }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3gd0h11f-e8e5-6e1d-cf4g-1i8d6f5g4e7d",
      "name": "Test Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 50]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_API_URL }}/workflows/{{ $json.workflow_id }}/execute",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "execution_input",
              "value": "={{ $json.execution_input }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4he1i22g-f9f6-7f2e-dg5h-2j9e7g6h5f8e",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 50]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_API_URL }}/rag/documents/upload",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_id",
              "value": "={{ $json.dataset_id }}"
            },
            {
              "name": "document_content",
              "value": "={{ $json.document_content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5if2j33h-g0g7-8g3f-eh6i-3k0f8h7i6g9f",
      "name": "Upload RAG Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_API_URL }}/rag/retrieve",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_id",
              "value": "={{ $json.dataset_id }}"
            },
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6jg3k44i-h1h8-9h4g-fi7j-4l1g9i8j7h0g",
      "name": "RAG Retrieval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_API_URL }}/agents/create",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_name",
              "value": "={{ $json.agent_name }}"
            },
            {
              "name": "agent_type",
              "value": "={{ $json.agent_type }}"
            },
            {
              "name": "tools",
              "value": "={{ $json.tools }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7kh4l55j-i2i9-0i5h-gj8k-5m2h0j9k8i1h",
      "name": "Create Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_API_URL }}/agents/{{ $json.agent_id }}/execute",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_input",
              "value": "={{ $json.agent_input }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8li5m66k-j3j0-1j6i-hk9l-6n3i1k0l9j2i",
      "name": "Execute Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_API_URL }}/models/query",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model_id",
              "value": "={{ $json.model_id }}"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9mj6n77l-k4k1-2k7j-il0m-7o4j2l1m0k3j",
      "name": "Query Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 350]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.DIFY_API_URL }}/observability/logs",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "0nk7o88m-l5l2-3l8k-jm1n-8p5k3m2n1l4k",
      "name": "Get Observability Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_API_URL }}/observability/metrics",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{ $json.app_id }}"
            },
            {
              "name": "time_range",
              "value": "={{ $json.time_range }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1ol8p99n-m6m3-4m9l-kn2o-9q6l4n3o2m5l",
      "name": "Collect Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 350]
    },
    {
      "parameters": {
        "key": "workflow_result",
        "value": "={{ $json }}"
      },
      "id": "2pm9q00o-n7n4-5n0m-lo3p-0r7m5o4p3n6m",
      "name": "Set Workflow Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [850, 350]
    },
    {
      "parameters": {},
      "id": "3qn0r11p-o8o5-6o1n-mp4q-1s8n6p5q4o7n",
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 50]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Create Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflow": {
      "main": [
        [
          {
            "node": "Get Workflow Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Status": {
      "main": [
        [
          {
            "node": "Test Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Workflow": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Upload RAG Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload RAG Document": {
      "main": [
        [
          {
            "node": "RAG Retrieval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Retrieval": {
      "main": [
        [
          {
            "node": "Create Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Agent": {
      "main": [
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Query Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Model": {
      "main": [
        [
          {
            "node": "Get Observability Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Observability Logs": {
      "main": [
        [
          {
            "node": "Collect Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Metrics": {
      "main": [
        [
          {
            "node": "Set Workflow Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Workflow Result": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}