outputs/versions/dify/v1.json
{
  "name": "Dify LLM Application Platform Automation",
  "nodes": [
    {
      "parameters": {
        "trigger": "manual"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [50, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "=https://{{$env.DIFY_API_URL}}/api/v1/workflows/run",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.DIFY_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"inputs\": {{$json.body}},\n  \"response_mode\": \"blocking\"\n}",
        "options": {}
      },
      "name": "Execute Dify Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "assignments": [
          {
            "id": "workflow_run_id",
            "name": "workflow_run_id",
            "type": "string",
            "value": "={{$json.data.workflow_run_id}}"
          },
          {
            "id": "workflow_output",
            "name": "workflow_output",
            "type": "string",
            "value": "={{$json.data.outputs}}"
          },
          {
            "id": "workflow_status",
            "name": "workflow_status",
            "type": "string",
            "value": "={{$json.data.status}}"
          }
        ]
      },
      "name": "Process Workflow Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 100]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "=https://{{$env.DIFY_API_URL}}/api/v1/workflows/{{$json.workflow_run_id}}/logs",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.DIFY_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Retrieve Workflow Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "code": "// Parse and structure workflow logs\nconst logs = $json.data?.logs || [];\nconst structuredLogs = logs.map(log => ({\n  timestamp: log.created_at,\n  level: log.level,\n  message: log.message,\n  node_id: log.node_id,\n  step: log.step\n}));\n\nreturn {\n  total_logs: structuredLogs.length,\n  logs: structuredLogs,\n  workflow_id: $json.workflow_id,\n  duration_ms: $json.duration\n};"
      },
      "name": "Format Logs Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "=https://{{$env.DIFY_API_URL}}/api/v1/datasets/documents/create",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.DIFY_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"dataset_id\": \"{{$json.dataset_id}}\",\n  \"document\": {\n    \"content\": {{$json.document_content}},\n    \"metadata\": {\n      \"source\": \"n8n_automation\",\n      \"created_at\": \"{{$now.toIso()}}\"\n    }\n  }\n}",
        "options": {}
      },
      "name": "Create Dataset Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 250]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "=https://{{$env.DIFY_API_URL}}/api/v1/apps",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.DIFY_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "name": "List All Applications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "code": "// Filter and format application list\nconst apps = $json.data?.items || [];\nconst formattedApps = apps.map(app => ({\n  id: app.id,\n  name: app.name,\n  type: app.mode,\n  created_at: app.created_at,\n  updated_at: app.updated_at,\n  icon: app.icon\n}));\n\nreturn {\n  total_applications: formattedApps.length,\n  applications: formattedApps\n};"
      },
      "name": "Format Applications List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "=https://{{$env.DIFY_API_URL}}/api/v1/apps/{{$json.app_id}}/messages",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.DIFY_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"inputs\": {{$json.message_inputs}},\n  \"response_mode\": \"streaming\",\n  \"conversation_id\": \"{{$json.conversation_id}}\"\n}",
        "options": {}
      },
      "name": "Send Message to App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 250]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "=https://{{$env.DIFY_API_URL}}/api/v1/apps/{{$json.app_id}}/conversations",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.DIFY_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 250]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "text": "Dify Workflow Automation Complete\n\nWorkflow ID: {{$json.workflow_run_id}}\nStatus: {{$json.workflow_status}}\nTotal Logs: {{$json.total_logs}}\n\nOutputs:\n{{$json.workflow_output}}"
      },
      "name": "Send Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "code": "// Error handling and workflow summary\nreturn {\n  execution_status: $input.first()?.workflow_status || 'unknown',\n  total_steps: $input.first()?.total_logs || 0,\n  timestamp: new Date().toISOString(),\n  workflow_summary: {\n    started_at: $input.first()?.created_at,\n    workflow_id: $input.first()?.workflow_run_id\n  }\n};"
      },
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 250]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Execute Dify Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Dify Workflow": {
      "main": [
        [
          {
            "node": "Process Workflow Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Workflow Response": {
      "main": [
        [
          {
            "node": "Retrieve Workflow Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Workflow Logs": {
      "main": [
        [
          {
            "node": "Format Logs Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Logs Data": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All Applications": {
      "main": [
        [
          {
            "node": "Format Applications List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}