outputs/versions/khoj/v1.json
{
  "name": "Khoj Content Synchronization Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": "0 */10 * * * *"
      },
      "id": "Schedule Trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const fs = require('fs');\nconst path = require('path');\n\nconst validFileTypes = ['org', 'md', 'markdown', 'txt', 'html', 'xml', 'pdf', 'jpg', 'jpeg', 'png', 'webp'];\n\nfunction isSupportedFileType(filePath) {\n  const fileExtension = filePath.split('.').pop().toLowerCase();\n  return validFileTypes.includes(fileExtension);\n}\n\nfunction processDirectory(filesToPush, folderPath) {\n  try {\n    const files = fs.readdirSync(folderPath, { withFileTypes: true });\n    for (const file of files) {\n      if (file.name.startsWith('.')) continue;\n      const filePath = path.join(folderPath, file.name);\n      if (file.isFile() && isSupportedFileType(filePath)) {\n        filesToPush.push(filePath);\n      }\n      if (file.isDirectory()) {\n        processDirectory(filesToPush, filePath);\n      }\n    }\n  } catch (err) {\n    console.error(`Error processing directory ${folderPath}:`, err.message);\n  }\n}\n\nconst filesToIndex = [];\nconst configuredFiles = $input.all()[0].body.files || [];\nconst configuredFolders = $input.all()[0].body.folders || [];\n\nfor (const file of configuredFiles) {\n  if (fs.existsSync(file.path)) {\n    filesToIndex.push(file.path);\n  }\n}\n\nfor (const folder of configuredFolders) {\n  if (fs.existsSync(folder.path)) {\n    processDirectory(filesToIndex, folder.path);\n  }\n}\n\nreturn [{ json: { files: filesToIndex } }];"
      },
      "id": "Collect Files",
      "name": "Collect Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const fs = require('fs');\n\nconst binaryFileTypes = ['pdf', 'jpg', 'jpeg', 'png', 'webp'];\nconst filesData = [];\n\nfor (const filePath of $input.all()[0].json.files) {\n  try {\n    const stats = fs.statSync(filePath);\n    const extension = filePath.split('.').pop().toLowerCase();\n    const isBinary = binaryFileTypes.includes(extension);\n    const encoding = isBinary ? 'binary' : 'utf8';\n    const content = fs.readFileSync(filePath, { encoding });\n    \n    filesData.push({\n      path: filePath,\n      content: content.toString('base64'),\n      mimeType: getMimeType(extension, encoding),\n      modified: stats.mtime.toISOString()\n    });\n  } catch (err) {\n    console.error(`Error reading file ${filePath}:`, err.message);\n  }\n}\n\nfunction getMimeType(ext, encoding) {\n  const types = {\n    'pdf': 'application/pdf',\n    'png': 'image/png',\n    'jpg': 'image/jpeg',\n    'jpeg': 'image/jpeg',\n    'webp': 'image/webp',\n    'md': 'text/markdown',\n    'markdown': 'text/markdown',\n    'org': 'text/org'\n  };\n  return (types[ext] || 'text/plain') + (encoding === 'utf8' ? '; charset=UTF-8' : '');\n}\n\nreturn [{ json: { filesData } }];"
      },
      "id": "Read File Contents",
      "name": "Read File Contents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.KHOJ_HOST_URL || 'https://app.khoj.dev'}}/api/content?client=desktop",
        "authentication": "genericCredentialType",
        "genericCredentials": "={{$credentials.khojApiKey}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "Sync Files to Khoj",
      "name": "Sync Files to Khoj",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "const syncResult = $input.all()[0].json;\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    status: 'completed',\n    timestamp: timestamp,\n    filesProcessed: syncResult.filesData ? syncResult.filesData.length : 0,\n    syncedAt: timestamp\n  }\n}];"
      },
      "id": "Update Sync State",
      "name": "Update Sync State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.KHOJ_HOST_URL || 'https://app.khoj.dev'}}/api/v1/user?client=desktop",
        "authentication": "genericCredentialType",
        "genericCredentials": "={{$credentials.khojApiKey}}"
      },
      "id": "Get User Info",
      "name": "Get User Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 450]
    },
    {
      "parameters": {
        "functionCode": "const error = $input.all()[0].json;\nconst timestamp = new Date().toISOString();\n\nlet errorMessage = 'Sync was unsuccessful';\n\nif (error.response?.status === 429) {\n  errorMessage = 'Out of space. Please upgrade your plan.';\n} else if (error.code === 'ECONNREFUSED') {\n  errorMessage = `Could not connect to Khoj server at ${error.address}:${error.port}`;\n}\n\nreturn [{\n  json: {\n    status: 'error',\n    error: errorMessage,\n    timestamp: timestamp\n  }\n}];"
      },
      "id": "Handle Sync Error",
      "name": "Handle Sync Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 450]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Collect Files",
            "indices": [0]
          }
        ]
      ]
    },
    "Collect Files": {
      "main": [
        [
          {
            "node": "Read File Contents",
            "indices": [0]
          }
        ]
      ]
    },
    "Read File Contents": {
      "main": [
        [
          {
            "node": "Sync Files to Khoj",
            "indices": [0]
          }
        ]
      ]
    },
    "Sync Files to Khoj": {
      "main": [
        [
          {
            "node": "Update Sync State",
            "indices": [0]
          }
        ]
      ],
      "onError": [
        [
          {
            "node": "Handle Sync Error",
            "indices": [0]
          }
        ]
      ]
    },
    "Handle Sync Error": {
      "main": [
        []
      ]
    },
    "Update Sync State": {
      "main": [
        [
          {
            "node": "Get User Info",
            "indices": [0]
          }
        ]
      ]
    },
    "Get User Info": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "credentialData": {
    "khojApiKey": {
      "type": "bearer",
      "data": "{{$env.KHOJ_API_KEY}}"
    }
  }
}