outputs/versions/khoj/v1.json
{
  "name": "Khoj File Sync Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "betweenValue": 10,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "Schedule Trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        50,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const filePath = $input.first().json.filePath || '';\nconst fileExtension = filePath.split('.').pop().toLowerCase();\nconst textFileTypes = ['org', 'md', 'markdown', 'txt', 'html', 'xml', 'appleplist', 'asm', 'asp', 'batch', 'c', 'cs', 'css', 'csv', 'eml', 'go', 'ini', 'internetshortcut', 'java', 'javascript', 'json', 'latex', 'lisp', 'makefile', 'mht', 'mum', 'pem', 'perl', 'php', 'powershell', 'python', 'rdf', 'rst', 'rtf', 'ruby', 'rust', 'scala', 'shell', 'smali', 'sql', 'svg', 'symlinktext', 'vba', 'winregistry', 'yaml'];\nconst binaryFileTypes = ['pdf', 'jpg', 'jpeg', 'png', 'webp'];\nconst validFileTypes = textFileTypes.concat(binaryFileTypes);\n\nreturn {\n  isValid: validFileTypes.includes(fileExtension),\n  fileExtension: fileExtension,\n  encoding: binaryFileTypes.includes(fileExtension) ? 'binary' : 'utf8'\n};"
      },
      "id": "Validate File Type",
      "name": "Validate File Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const filePath = $input.first().json.filePath || '';\nconst fileExtension = filePath.split('.').pop().toLowerCase();\nconst binaryFileTypes = ['pdf', 'jpg', 'jpeg', 'png', 'webp'];\n\nlet mimeType = 'text/plain';\nswitch (fileExtension) {\n  case 'pdf':\n    mimeType = 'application/pdf';\n    break;\n  case 'png':\n    mimeType = 'image/png';\n    break;\n  case 'jpg':\n  case 'jpeg':\n    mimeType = 'image/jpeg';\n    break;\n  case 'webp':\n    mimeType = 'image/webp';\n    break;\n  case 'md':\n  case 'markdown':\n    mimeType = 'text/markdown';\n    break;\n  case 'org':\n    mimeType = 'text/org';\n    break;\n}\n\nconst encoding = binaryFileTypes.includes(fileExtension) ? 'binary' : 'utf8';\nif (encoding === 'utf8') {\n  mimeType += '; charset=UTF-8';\n}\n\nreturn {\n  mimeType: mimeType,\n  encoding: encoding,\n  filePath: filePath\n};"
      },
      "id": "Determine MIME Type",
      "name": "Determine MIME Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KHOJ_HOST || 'http://localhost:42110' }}/api/v1/user",
        "authentication": "generic",
        "genericAuthType": "bearerToken",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client",
              "value": "desktop"
            }
          ]
        }
      },
      "id": "Get User Info",
      "name": "Get User Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        250,
        450
      ]
    },
    {
      "parameters": {
        "functionCode": "const files = $input.first().json.files || [];\nconst lastSync = $input.first().json.lastSync || [];\nconst filesToSync = [];\n\nfor (const file of files) {\n  const lastSyncEntry = lastSync.find(f => f.path === file.path);\n  if (!lastSyncEntry || new Date(file.mtime) > new Date(lastSyncEntry.datetime)) {\n    filesToSync.push(file);\n  }\n}\n\nreturn {\n  filesToSync: filesToSync,\n  totalFiles: filesToSync.length\n};"
      },
      "id": "Filter Modified Files",
      "name": "Filter Modified Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.KHOJ_HOST || 'http://localhost:42110' }}/api/content?client=desktop",
        "authentication": "generic",
        "genericAuthType": "bearerToken",
        "sendBody": true,
        "bodyContentType": "multiForm",
        "multipartFormData": {
          "parameters": [
            {
              "name": "files",
              "type": "file",
              "fileContent": "={{ $json.fileContent }}"
            }
          ]
        }
      },
      "id": "Sync Files to Khoj",
      "name": "Sync Files to Khoj",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const syncResponse = $input.first().json;\nconst filesToSync = $input.first().json.filesToSync || [];\nconst currentTime = new Date().toISOString();\n\nconst lastSync = filesToSync\n  .filter(file => syncResponse.includes(file.path))\n  .map(file => ({\n    path: file.path,\n    datetime: currentTime\n  }));\n\nreturn {\n  success: true,\n  lastSync: lastSync,\n  syncTime: currentTime,\n  filesCount: lastSync.length\n};"
      },
      "id": "Update Last Sync",
      "name": "Update Last Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const error = $input.first().json.error || {};\nconst statusCode = error.response?.status;\nconst message = error.message || 'Unknown error';\n\nlet errorMessage = '';\n\nif (statusCode === 429) {\n  errorMessage = 'Out of space. Upgrade your plan to unlock more space.';\n} else if (error.code === 'ECONNREFUSED') {\n  errorMessage = `Could not connect to Khoj server at ${error.address}:${error.port}`;\n} else {\n  errorMessage = `Sync failed: ${message}`;\n}\n\nreturn {\n  success: false,\n  error: errorMessage,\n  statusCode: statusCode\n};"
      },
      "id": "Error Handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        500
      ]
    },
    {
      "parameters": {
        "functionCode": "const files = $input.first().json.files || [];\nconst folders = $input.first().json.folders || [];\nconst fileExtension = (path) => path.split('.').pop().toLowerCase();\nconst textFileTypes = ['org', 'md', 'markdown', 'txt', 'html', 'xml', 'appleplist', 'asm', 'asp', 'batch', 'c', 'cs', 'css', 'csv', 'eml', 'go', 'ini', 'internetshortcut', 'java', 'javascript', 'json', 'latex', 'lisp', 'makefile', 'mht', 'mum', 'pem', 'perl', 'php', 'powershell', 'python', 'rdf', 'rst', 'rtf', 'ruby', 'rust', 'scala', 'shell', 'smali', 'sql', 'svg', 'symlinktext', 'vba', 'winregistry', 'yaml'];\nconst binaryFileTypes = ['pdf', 'jpg', 'jpeg', 'png', 'webp'];\nconst validFileTypes = textFileTypes.concat(binaryFileTypes);\nconst isSupportedFileType = (filePath) => validFileTypes.includes(fileExtension(filePath));\n\nconst filesToIndex = [];\n\nfor (const file of files) {\n  if (isSupportedFileType(file.path)) {\n    filesToIndex.push(file.path);\n  }\n}\n\nfor (const folder of folders) {\n  // Placeholder for recursive directory processing\n  filesToIndex.push(folder.path);\n}\n\nreturn {\n  filesToIndex: filesToIndex,\n  totalFiles: filesToIndex.length\n};"
      },
      "id": "Collect Files to Index",
      "name": "Collect Files to Index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        450
      ]
    },
    {
      "parameters": {},
      "id": "No Op",
      "name": "No Op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get User Info",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Get User Info": {
      "main": [
        [
          {
            "node": "Collect Files to Index",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Collect Files to Index": {
      "main": [
        [
          {
            "node": "Validate File Type",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Validate File Type": {
      "main": [
        [
          {
            "node": "Determine MIME Type",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Determine MIME Type": {
      "main": [
        [
          {
            "node": "Filter Modified Files",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Filter Modified Files": {
      "main": [
        [
          {
            "node": "Sync Files to Khoj",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Sync Files to Khoj": {
      "main": [
        [
          {
            "node": "Update Last Sync",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Update Last Sync": {
      "main": [
        [
          {
            "node": "No Op",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}