outputs/dify.json
{
  "name": "Dify LLM App Platform",
  "nodes": [
    {
      "parameters": {},
      "id": "8f5a3c1b-2d4e-4f6a-9c2e-1a3d5b7c9e2f",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$env.DIFY_API_HOST}}/v1/workflows/run",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DIFY_API_KEY}}"
            }
          ]
        },
        "contentType": "application/json",
        "body": "={\n  \"inputs\": {{$json.workflow_inputs}},\n  \"response_mode\": \"blocking\",\n  \"user\": \"{{$env.DIFY_USER_ID}}\"\n}"
      },
      "id": "3e7f2a1c-5b9d-4e8c-a2f1-7d3c6b8a9e1f",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "return {\n  workflow_id: $json.workflow_id,\n  status: $json.status,\n  outputs: $json.outputs,\n  execution_time: Date.now()\n};"
      },
      "id": "7c2b8d4f-9e1a-3c5f-8b2e-4a6d1c9f3e7b",
      "name": "Process Workflow Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$env.DIFY_API_HOST}}/v1/messages",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DIFY_API_KEY}}"
            }
          ]
        },
        "contentType": "application/json",
        "body": "={\n  \"inputs\": {{$json.message_inputs}},\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{$json.conversation_id}}\",\n  \"user\": \"{{$env.DIFY_USER_ID}}\"\n}"
      },
      "id": "2f5a9c3e-1d7b-4a8f-9c1e-6b3d2a5f8c9e",
      "name": "Send Chat Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{$env.DIFY_API_HOST}}/v1/messages/{{$json.message_id}}",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DIFY_API_KEY}}"
            }
          ]
        }
      },
      "id": "9e3c1f2a-7b5d-4e8c-a1f9-3d6c8b2a5e7f",
      "name": "Get Message Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{$env.DIFY_API_HOST}}/v1/datasets",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DIFY_API_KEY}}"
            }
          ]
        }
      },
      "id": "4b1e7f3d-9a2c-5b8f-1c3e-6d2a9f4b7c1e",
      "name": "List Datasets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$env.DIFY_API_HOST}}/v1/datasets/{{$json.dataset_id}}/documents",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DIFY_API_KEY}}"
            }
          ]
        },
        "contentType": "application/json",
        "body": "={\n  \"name\": \"{{$json.document_name}}\",\n  \"text\": \"{{$json.document_text}}\"\n}"
      },
      "id": "5d3a2e1f-8c6b-4f9a-1e7d-3c5b2a8f4e9c",
      "name": "Upload Document to RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$env.DIFY_API_HOST}}/v1/completion-messages",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DIFY_API_KEY}}"
            }
          ]
        },
        "contentType": "application/json",
        "body": "={\n  \"inputs\": {{$json.prompt_inputs}},\n  \"response_mode\": \"blocking\",\n  \"user\": \"{{$env.DIFY_USER_ID}}\"\n}"
      },
      "id": "6f2d8a3c-1b5e-4a9f-7c2e-5b3d8f1a6c9e",
      "name": "Complete Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 900]
    },
    {
      "parameters": {
        "functionCode": "const results = {\n  workflows: $input.all()[0].json.workflows || [],\n  messages: $input.all()[1].json.messages || [],\n  datasets: $input.all()[2].json.datasets || [],\n  completions: $input.all()[3].json.completions || []\n};\nreturn results;"
      },
      "id": "8a1f5d2e-3b9c-4e7a-1f6c-2d5a8b3f7e9c",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "workflow_outputs",
              "value": "={{ $json.outputs }}",
              "type": "object"
            },
            {
              "id": "2",
              "name": "message_response",
              "value": "={{ $json.answer }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "execution_metadata",
              "value": "={{ {timestamp: Date.now(), status: 'completed'} }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "7e4c1f8d-2a5b-4c9f-3e6a-1d5f8b2c7a9e",
      "name": "Transform Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "1",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "value": "equals"
              },
              "value1": "={{ $json.status }}",
              "value2": "success"
            }
          ],
          "combinator": "and"
        }
      },
      "id": "3a7b2f5e-9c1d-4e8a-6f2b-1c3a5d8e7f9b",
      "name": "Check Execution Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$env.WEBHOOK_URL}}",
        "contentType": "application/json",
        "body": "={{ {status: 'success', data: $json} }}"
      },
      "id": "4f6c2a1e-8d3b-5f7c-9a2e-3b5d1c8f4a7e",
      "name": "Send Success Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$env.WEBHOOK_URL}}",
        "contentType": "application/json",
        "body": "={{ {status: 'error', error: $json.error} }}"
      },
      "id": "5e7d3b2f-1a6c-4d9e-8b3f-2c5a7f1d9e4c",
      "name": "Send Error Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 800]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Process Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Workflow Output": {
      "main": [
        [
          {
            "node": "Transform Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chat Message": {
      "main": [
        [
          {
            "node": "Get Message Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message Status": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Datasets": {
      "main": [
        [
          {
            "node": "Upload Document to RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Document to RAG": {
      "main": [
        [
          {
            "node": "Complete Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Output": {
      "main": [
        [
          {
            "node": "Check Execution Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Execution Status": {
      "main": [
        [
          {
            "node": "Send Success Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "errorNotification": {
      "enabled": true,
      "channel": "n8n"
    }
  }
}