outputs/khoj.json
{
  "name": "Khoj Desktop App File Sync Automation",
  "nodes": [
    {
      "parameters": {
        "rule": "every 10 minutes"
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Check if token and hostURL are set\nconst token = $input.first().json.khojToken;\nconst hostURL = $input.first().json.hostURL;\nconst syncing = $input.first().json.syncing;\n\nif (!token || !hostURL || syncing === true) {\n  return { shouldContinue: false, message: 'Missing credentials or already syncing' };\n}\n\nreturn { shouldContinue: true };"
      },
      "name": "Validate Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Collect files from configured paths\nconst files = $input.first().json.files || [];\nconst folders = $input.first().json.folders || [];\nconst lastSync = $input.first().json.lastSync || [];\n\nconst filesToPush = [];\nconst supportedExtensions = ['org', 'md', 'markdown', 'txt', 'html', 'xml', 'pdf', 'jpg', 'jpeg', 'png', 'webp', 'json', 'csv', 'py', 'js', 'java', 'cpp'];\n\n// Add direct files\nfor (const file of files) {\n  filesToPush.push(file.path);\n}\n\nreturn {\n  filesToPush,\n  lastSync,\n  folders,\n  supportedExtensions\n};"
      },
      "name": "Collect Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Filter files based on modification time\nconst filesToPush = $input.first().json.filesToPush;\nconst lastSync = $input.first().json.lastSync;\nconst regenerate = $input.first().json.regenerate || false;\n\nconst filesDataToPush = [];\n\nfor (const file of filesToPush) {\n  // Check if file has been modified since last sync\n  const lastSyncEntry = lastSync.find(f => f.path === file);\n  \n  // For now, mark all files as needing sync\n  // In production, would check file modification time\n  filesDataToPush.push({\n    path: file,\n    needsSync: true\n  });\n}\n\nreturn {\n  filesDataToPush,\n  count: filesDataToPush.length\n};"
      },
      "name": "Filter Modified Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "{{ $json.hostURL }}/api/content?client=desktop",
        "authentication": "genericCredentialType",
        "genericCredentialType": {
          "credentialsType": "httpHeaderAuth",
          "authentication": {
            "name": "Authorization",
            "value": "Bearer {{ $json.khojToken }}"
          }
        },
        "sendForm": true,
        "formFields": {
          "values": [
            {
              "name": "files",
              "value": "{{ JSON.stringify($json.filesDataToPush) }}"
            }
          ]
        }
      },
      "name": "Sync Files to Khoj",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "functionCode": "// Update last sync timestamp\nconst response = $input.first().json;\nconst filesToPush = $input.previous(1).json.filesDataToPush;\n\nconst lastSync = filesToPush\n  .filter(file => true) // In production, check response.data\n  .map(file => ({\n    path: file.path,\n    datetime: new Date().toISOString()\n  }));\n\nreturn {\n  lastSync,\n  syncCompleted: true,\n  filesCount: filesToPush.length\n};"
      },
      "name": "Update Sync Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Handle sync errors\nconst error = $input.first().json.error;\n\nlet errorMessage = 'Sync was unsuccessful';\n\nif (error?.response?.status === 429) {\n  errorMessage = 'Out of space. Upgrade your Khoj plan to continue syncing.';\n} else if (error?.code === 'ECONNREFUSED') {\n  errorMessage = 'Could not connect to Khoj server. Check your host URL and network connection.';\n} else if (error?.message) {\n  errorMessage = error.message;\n}\n\nreturn {\n  syncFailed: true,\n  error: errorMessage,\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Handle Sync Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": [
          {
            "column": "path",
            "type": "string"
          },
          {
            "column": "lastSyncTime",
            "type": "string"
          },
          {
            "column": "status",
            "type": "string"
          },
          {
            "column": "errorMessage",
            "type": "string"
          }
        ],
        "data": "{{ { path: $json.path, lastSyncTime: $json.datetime, status: 'synced', errorMessage: '' } }}"
      },
      "name": "Log Sync Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1450, 300],
      "credentials": {
        "postgres": "postgres_default"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Validate Credentials",
            "indices": [0]
          }
        ]
      ]
    },
    "Validate Credentials": {
      "main": [
        [
          {
            "node": "Collect Files",
            "indices": [0]
          }
        ]
      ]
    },
    "Collect Files": {
      "main": [
        [
          {
            "node": "Filter Modified Files",
            "indices": [0]
          }
        ]
      ]
    },
    "Filter Modified Files": {
      "main": [
        [
          {
            "node": "Sync Files to Khoj",
            "indices": [0]
          }
        ]
      ]
    },
    "Sync Files to Khoj": {
      "main": [
        [
          {
            "node": "Update Sync Status",
            "indices": [0]
          }
        ],
        [
          {
            "node": "Handle Sync Error",
            "indices": [0]
          }
        ]
      ]
    },
    "Update Sync Status": {
      "main": [
        [
          {
            "node": "Log Sync Event",
            "indices": [0]
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromAnyUser"
  }
}