outputs/khoj.json
{
  "name": "Khoj Content Sync Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": "0 */10 * * * *"
      },
      "id": "Schedule Sync",
      "name": "Schedule Sync",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "path": "={{ $env.SYNC_DIRECTORY || '/data' }}",
        "options": {
          "recursive": true
        }
      },
      "id": "List Files",
      "name": "List Files",
      "type": "n8n-nodes-base.fileSystem",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const validFileTypes = ['org', 'md', 'markdown', 'txt', 'html', 'xml', 'pdf', 'jpg', 'jpeg', 'png', 'webp', 'csv', 'json', 'py', 'js', 'ts', 'go', 'rs', 'java', 'c', 'cpp', 'sh', 'bash'];\n\nconst files = $input.all();\nconst filteredFiles = [];\n\nfor (const file of files) {\n  if (file.type === 'file') {\n    const ext = file.name.split('.').pop().toLowerCase();\n    if (validFileTypes.includes(ext)) {\n      filteredFiles.push({\n        path: file.fullPath,\n        name: file.name,\n        extension: ext,\n        type: 'file'\n      });\n    }\n  }\n}\n\nreturn filteredFiles;"
      },
      "id": "Filter Valid Files",
      "name": "Filter Valid Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KHOJ_API_URL }}/api/v1/user",
        "authentication": "genericCredentialType",
        "genericCredentials": {
          "authenticationType": "bearerToken",
          "genericCredentials": "={{ $env.KHOJ_API_TOKEN }}"
        }
      },
      "id": "Get User Info",
      "name": "Get User Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 150]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.KHOJ_API_URL }}/api/content?client=n8n",
        "authentication": "genericCredentialType",
        "genericCredentials": {
          "authenticationType": "bearerToken",
          "genericCredentials": "={{ $env.KHOJ_API_TOKEN }}"
        },
        "options": {
          "formData": {}
        }
      },
      "id": "Sync Files to Khoj",
      "name": "Sync Files to Khoj",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "onError": "continueErrorHandling"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nif (response.status === 429) {\n  return {\n    error: true,\n    message: 'Rate limited - out of space',\n    status: 429\n  };\n}\n\nif (response.error) {\n  return {\n    error: true,\n    message: response.error,\n    timestamp: new Date().toISOString()\n  };\n}\n\nreturn {\n  success: true,\n  filesProcessed: response.count || 0,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "Process Sync Response",
      "name": "Process Sync Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_URL }}",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "sync_complete"
            },
            {
              "name": "status",
              "value": "={{ $node['Process Sync Response'].json.success }}"
            },
            {
              "name": "filesProcessed",
              "value": "={{ $node['Process Sync Response'].json.filesProcessed }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $node['Process Sync Response'].json.timestamp }}"
            }
          ]
        }
      },
      "id": "Notify Webhook",
      "name": "Notify Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300],
      "onError": "continueErrorHandling"
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\nreturn {\n  status: 'error',\n  message: error.message || 'Sync failed',\n  error_code: error.status || 'UNKNOWN',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "Handle Sync Error",
      "name": "Handle Sync Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 450]
    }
  ],
  "connections": {
    "Schedule Sync": {
      "main": [
        [
          {
            "node": "List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Files": {
      "main": [
        [
          {
            "node": "Filter Valid Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Files": {
      "main": [
        [
          {
            "node": "Get User Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync Files to Khoj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Files to Khoj": {
      "main": [
        [
          {
            "node": "Process Sync Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Sync Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sync Response": {
      "main": [
        [
          {
            "node": "Notify Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}