outputs/khoj.json
{
  "name": "Khoj Content Synchronization Workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        50,
        300
      ]
    },
    {
      "parameters": {
        "content": "= $json.files || []",
        "mode": "objectLiteral",
        "options": {
          "limit": 1000
        }
      },
      "name": "Collect Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "credentials": []
    },
    {
      "parameters": {
        "content": "= {\n  \"filesToPush\": [],\n  \"lastSync\": [],\n  \"regenerate\": false,\n  \"state\": { \"completed\": true }\n}",
        "mode": "objectLiteral"
      },
      "name": "Initialize State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "credentials": []
    },
    {
      "parameters": {
        "content": "// Process collected files and folders\nconst files = $node[\"Collect Files\"].json;\nconst folders = $node[\"Trigger\"].json.folders || [];\nconst filesToPush = [];\nconst validFileTypes = ['org', 'md', 'markdown', 'txt', 'html', 'xml', 'pdf', 'jpg', 'jpeg', 'png', 'webp', 'csv', 'json'];\n\nif (Array.isArray(files)) {\n  files.forEach(file => {\n    const ext = file.split('.').pop().toLowerCase();\n    if (validFileTypes.includes(ext)) {\n      filesToPush.push(file);\n    }\n  });\n}\n\nreturn { filesToPush, folderCount: folders.length };",
        "mode": "code"
      },
      "name": "Filter Valid Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "credentials": []
    },
    {
      "parameters": {
        "content": "// Check if authentication token exists\nconst token = $node[\"Trigger\"].json.khojToken || '';\nconst hostURL = $node[\"Trigger\"].json.hostURL || 'https://app.khoj.dev';\n\nif (!token || !hostURL) {\n  throw new Error('Missing authentication token or host URL');\n}\n\nreturn { token, hostURL };",
        "mode": "code"
      },
      "name": "Validate Authentication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ],
      "credentials": []
    },
    {
      "parameters": {
        "content": "// Determine MIME type based on file extension\nfunction filenameToMimeType(filename) {\n  const ext = filename.split('.').pop().toLowerCase();\n  const mimeTypes = {\n    'pdf': 'application/pdf',\n    'png': 'image/png',\n    'jpg': 'image/jpeg',\n    'jpeg': 'image/jpeg',\n    'webp': 'image/webp',\n    'md': 'text/markdown',\n    'markdown': 'text/markdown',\n    'org': 'text/org',\n    'txt': 'text/plain',\n    'html': 'text/html',\n    'xml': 'text/xml',\n    'csv': 'text/csv',\n    'json': 'application/json'\n  };\n  return mimeTypes[ext] || 'text/plain';\n}\n\nconst files = $node[\"Filter Valid Files\"].json.filesToPush || [];\nconst fileMetadata = files.map(file => ({\n  path: file,\n  mimeType: filenameToMimeType(file)\n}));\n\nreturn { fileMetadata };",
        "mode": "code"
      },
      "name": "Prepare File Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ],
      "credentials": []
    },
    {
      "parameters": {
        "url": "={{$node[\"Validate Authentication\"].json.hostURL}}/api/content?client=n8n",
        "method": "PATCH",
        "headers": {
          "Authorization": "Bearer {{$node[\"Validate Authentication\"].json.token}}",
          "Content-Type": "application/json"
        },
        "body": "={{JSON.stringify({\"files\": $node[\"Prepare File Metadata\"].json.fileMetadata})}}"
      },
      "name": "Sync Files to Khoj",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        300
      ],
      "credentials": []
    },
    {
      "parameters": {
        "content": "// Handle sync response\nconst response = $node[\"Sync Files to Khoj\"].json;\nconst statusCode = $node[\"Sync Files to Khoj\"].executionStatus;\n\nif (statusCode === 'success' || (response && response.status === 200)) {\n  return {\n    syncStatus: 'success',\n    message: 'Files synced successfully',\n    timestamp: new Date().toISOString()\n  };\n} else if (statusCode === 'error') {\n  return {\n    syncStatus: 'error',\n    message: response.message || 'Sync failed',\n    timestamp: new Date().toISOString()\n  };\n} else {\n  return {\n    syncStatus: 'unknown',\n    message: 'Unknown sync status',\n    timestamp: new Date().toISOString()\n  };\n}",
        "mode": "code"
      },
      "name": "Process Sync Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ],
      "credentials": []
    },
    {
      "parameters": {
        "content": "// Update last sync timestamp on success\nconst syncResult = $node[\"Process Sync Result\"].json;\nconst files = $node[\"Filter Valid Files\"].json.filesToPush || [];\n\nif (syncResult.syncStatus === 'success') {\n  const lastSync = files.map(file => ({\n    path: file,\n    datetime: new Date().toISOString()\n  }));\n  return { lastSync, completed: true };\n} else {\n  return { lastSync: [], completed: false, error: syncResult.message };\n}",
        "mode": "code"
      },
      "name": "Update Sync Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        300
      ],
      "credentials": []
    },
    {
      "parameters": {
        "fieldMappings": {
          "mappings": [
            {
              "fromField": "syncStatus",
              "toField": "status"
            },
            {
              "fromField": "message",
              "toField": "syncMessage"
            }
          ]
        }
      },
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1850,
        300
      ],
      "credentials": []
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Collect Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Files": {
      "main": [
        [
          {
            "node": "Initialize State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize State": {
      "main": [
        [
          {
            "node": "Filter Valid Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Files": {
      "main": [
        [
          {
            "node": "Validate Authentication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Authentication": {
      "main": [
        [
          {
            "node": "Prepare File Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Metadata": {
      "main": [
        [
          {
            "node": "Sync Files to Khoj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Files to Khoj": {
      "main": [
        [
          {
            "node": "Process Sync Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sync Result": {
      "main": [
        [
          {
            "node": "Update Sync Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sync Metadata": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}